{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<div class="main-container">
    <h1>post title</h1>

    <img src="{% static 'images/Markiplier.jpg' %}">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    In ac aliquam est. Nullam sodales justo sodales augue
    feugiat, nec consequat turpis pellentesque. Etiam rutrum
    tortor vitae metus pharetra molestie. Fusce odio nunc,
    nec magna vel, eleifend mattis neque. Aliquam aliquam ut
    neque id consectetur. Vivamus ut dictum nisl. Maecenas
    molestie ante orci, non mattis quam volutpat vel. Vivamus ac urna ac lorem
    porttitor ullamcorper eget sit amet lorem. Duis fringilla
    imperdiet ante non tristique. In dapibus orci sed quam
    sollicitudin, ac ultrices velit vehicula. Sed non elit ut
    nibh ullamcorper maximus. Mauris vitae orci suscipit,
    blandit arcu nec, dignissim enim. Aenean libero massa,
    volutpat sed rhoncus eu, eleifend nec diam.</p>

</div>

{% endblock content %}